$primary-color: #4f46e5;
$primary-hover: #4338ca;
$bg-color: #f3f4f6;
$text-color: #1f2937;
$border-color: #d1d5db;
$white: #ffffff;

.form-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  .form-image{
    width: 8rem;
    height: auto;
    @media (min-width:768px){
      width: 10rem;
    }
  }
  form{
    width: 100%;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input{
      padding: 0.5rem;
      border: 1px solid $border-color;
      border-radius: 0.25rem;
    }
    .checkbox-container{
      display: flex;
      gap: 0.25rem;
    }
    button{
      padding: 0.5rem;
      background-color: $primary-color;
      color: $white;
      border: none;
    }
  }
}
  