.button{
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(250, 99, 12);
    }

    &:active{
        transform: scale(0.9);
    }
}